doctype html
html
    head
        block title
        block meta
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        block css
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
            link(rel="styleSheet" href="style.css")
        block font
            link(href='https://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css')
        block badge
            link(rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
    body
        block content
        block script
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
            script(src="../components/bootstrap/js/bootstrap.min.js")
            script(src="../components/commits/commits.js")
